// Color variables
$opendoor: #00ffff;
$door: #8439f6;
$bg: #146bbc;
$text: #fff;
$button: #0dff76;
$dark: #3d6999;

// global rules
* {
  margin: 0;
  padding: 0;
  // border: 1px solid red;
}

body {
  background-color: $bg;
  color: $text;
  font-family: "Bree Serif", "Roboto", serif;
  font-size: 18px;
  text-align: center;
}

// Banner
.header {
  background-image: linear-gradient(
    to right,
    $bg,
    $bg 10%,
    $opendoor 30%,
    $opendoor 70%,
    $bg 90%,
    $bg
  );
  text-align: center;
  padding: 10px;
}

// Instructions

.title-row {
  margin: 42px 0 21px 0;
  text-align: center;
  img {
    margin: 0.3em 0;
  }
}

.instructions-title {
  display: inline-block;
  font-size: 1.5em;
}

.instructions-row {
  margin: 0 auto;
  width: 400px;
  text-align: left;
}

tr {
  height: 3em;
}

.instructions-number {
  padding-right: 25px;
  font-size: 1.8em;
}

.instruction-text {
  padding: 10px;
  font-size: 0.8em;
}

//Doors
.door-row {
  text-align: center;
  padding: 10px;
}

.door-frame {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  border: 5px solid rgba(0, 0, 0, 0);
  &:hover {
    border: 5px solid rgba(255, 255, 255, 1);
  }
}

// Start button
.start-row {
  display: inline-block;
  margin: 0 auto;
  width: auto;
  height: auto;
  background-color: $button;
  border: 3px outset hsla(0, 0, 0, 0.2);
  &:hover {
    background-color: hsl(146, 89%, 44%);
    border: 3px outset #ffffff;
    color: $text;
  }
  padding: 18px;
  text-align: center;
  color: black;
  margin-bottom: 21px;
  cursor: pointer;
  border-radius: 8px;
}

// Streak
.flex-container {
  display: flex;
  justify-content: center;
}

.streak {
  border: 3px solid white;
  padding: 5px 15px;
  margin: 0 10px;
  border-radius: 5px;
}

h2 {
  font-weight: 400;
}
